<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Notícias</title>

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <%- include('../components/header') %>

    <div class="container">
        <h1>Cadastrar notícia</h1>
        <form method="post" action="cadastrar" class="form-add">
            <input name="titulo" placeholder="Título da notícia" required/><br />
            <textarea name="conteudo" placeholder="Conteúdo da notícia" required></textarea><br />
            <!-- TODO -> CATEGORIA -->
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>